.feeling-page {
	width: 70%;
	margin: 3rem auto;
}

.feeling-title {
	line-height: 1.6;
}

.img-conteiner {
	display: flex;
	align-items: flex-end;
	gap: 5rem;
}

.guy-img {
	width: 12rem;
}

.feeling-subtitle {
	padding-top: 1rem;
}

.start-btn {
	padding: 6px;
	width: 7rem;
	background-color: var(--color-yellow);
	outline: none;
	cursor: pointer;
	border: 1px solid rgb(129, 129, 129);
	border-radius: 5px;
}

.feeling-bottom{
	text-align: center;
}

.emoji-list{
    display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 1rem;
	text-align: center;
	margin: 2rem 0;
}

.emoji-group{
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
	padding: 5px;
	gap: 10px;
	width: 5rem;
	border-radius: 10px;
	cursor: pointer;
}

.emoji-group.selected {
	background-color: #ffe1b1;
	border: 1px solid rgb(86, 86, 86);
}

.emoji-group img{
	width: 2rem;
	display: block;
	margin: auto;
}

.feeling-date{
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.question-form{
	padding-top: 2rem;
}

.fav-groups{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.text-area{
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	outline: none;
	padding-bottom: 0;
	padding-top: 5px;
}

.save-btn {
	border: none;
	outline: none;
	padding: 5px;
	display: block;
	margin: auto;
	width: 5rem;
	font-size: 1.2rem;
	background-color: var(--color-yellow);
	border-radius: 5px;
	cursor: pointer;
}

.next-btn{
	padding: 1rem 0;
	outline: none;
	border: none;
	width: 8rem;
	/* margin-top: 4rem; */
	border-radius: 5px;
	cursor: pointer;
	margin: 4rem auto;
	transform: translate(-50%);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
	font-size: 1rem;
}