.feeling-page {
	width: 70%;
	margin: 3rem auto;
}

.feeling-title {
	line-height: 1.6;
}

.img-conteiner {
	display: flex;
	align-items: flex-end;
	gap: 5rem;
}

.guy-img {
	width: 12rem;
}

.feeling-subtitle {
	padding-top: 1rem;
}

.start-btn {
	padding: 6px;
	width: 7rem;
	background-color: var(--color-yellow);
	outline: none;
	cursor: pointer;
	border: 1px solid rgb(129, 129, 129);
	border-radius: 5px;
}

.feeling-bottom {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emoji-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	text-align: center;
	margin: 2rem 0;
}

.emoji-group {
	display: flex;
	flex-direction: column;
	background-color: #ffe7ea;
	padding: 5px;
	gap: 10px;
	width: 7rem;
	border-radius: 10px;
	cursor: pointer;
}

.emoji-group.selected {
	background-color: #ffccd2;
	border: 1px solid rgb(86, 86, 86);
}

.emoji-group img {
	width: 2rem;
	display: block;
	margin: auto;
}

.feeling-date {
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.question-form {
	padding-top: 2rem;
}

.fav-groups {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.fav-groups label {
	margin-bottom: 1rem;
}

.text-area {
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	outline: none;
	padding-bottom: 0;
	padding: 5px;
}

.save-btn {
	border: none;
	outline: none;
	padding: 5px;
	display: block;
	margin: auto;
	width: 5rem;
	font-size: 1.2rem;
	background-color: #d88492;
	border-radius: 5px;
	cursor: pointer;
}

.next-btn {
	padding: 1rem 0;
	outline: none;
	border: none;
	width: 8rem;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	font-size: 1.3rem;
	background-color: #d88492;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	border: 0 solid;
}

@media only screen and (max-width: 954px) {
	.feeling-page {
		width: 100%;
	}
}

@media only screen and (max-width: 812px) {
	.feeling-bottom h1 {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 668px) {
	.feeling-title,
	.feeling-subtitle {
		font-size: 1.2rem;
	}

	.feeling-bottom h1 {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 556px) {
	.emoji-list {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media only screen and (max-width: 504px) {
	.feeling-title,
	.feeling-subtitle {
		font-size: 1rem;
	}

	.question-form {
		font-size: 15px;
	}
}

@media only screen and (max-width: 430px) {
	.feeling-bottom h1 {
		font-size: 1rem;
	}
	.emoji-list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}
}

@media only screen and (max-width: 360px) {
	.feeling-title,
	.feeling-subtitle {
		font-size: 13px;
	}

	.question-form {
		font-size: 12px;
	}
}
