header{
    width: 100%;
    padding: 2rem 3rem;
}

nav{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar-link{
    text-decoration: none;
    color: #000;
}