header {
	width: 100%;
	padding-top: 1rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

nav {
	display: flex;
	justify-content: space-between;
}

.navbar {
	display: flex;
	list-style: none;
	gap: 1rem;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.navbar li {
	margin-left: 2rem;
}

.logo {
	font-size: 1rem;
	font-weight: bold;
}
.navbar-link {
	text-decoration: none;
	color: #000;
}

.logo-link {
	text-decoration: none;
	color: #000;
}

.user-name {
	border-bottom: 2px solid #d88492;
}
