.profile-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.quote-save-container h2,
.read-container h2,
.see-container h2{
    margin-bottom: 1rem;
}

.quote-list,
.article-save-list,
.video-save-list{
    list-style: none;
    background-color: #ffe7ea;
    padding: 1rem;
    border-radius: 8px;
}

.quote-list li,
.article-save-list li,
.video-save-list li{
    padding-bottom: 1rem;
}

.article-save-list li a{
    color: #000;
}